{:kotoba.app/id "cloud.itonami.isic-4210", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigdysekenorkhvv6rajcsg3jbkknwxbjkrbruqgjgtzpinvreyyri", :kotoba.app/embed-url "ipfs://bafkreigdysekenorkhvv6rajcsg3jbkknwxbjkrbruqgjgtzpinvreyyri", :published {:archive "https://kotobase.net/ipfs/bafkreigdysekenorkhvv6rajcsg3jbkknwxbjkrbruqgjgtzpinvreyyri", :size 72772, :put-status 201, :get-status 200, :at "2026-08-15T13:38:46.597Z"}}
